<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="formGroup">
    <input  class="form-control"  formControlName="email" type="email" placeholder="Email address" />
  </div>
  <div class="formGroup">  
    <input class="form-control" formControlName="password" type="password" placeholder="Password" />
  </div>
    <button class="btn btn-primary form-control" type="submit" [disabled]="form.invalid && (form.dirty || form.touched)">Login</button>
   <div class="formGroup row">
    <p>Don't Have an account?
      <a class="float-right" routerLink="/auth/register">Register</a>
    </p>
   </div>
</form>