*{
    margin-top: 10px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    transform: translate(25, 25%);
}
input{
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #d4d3d3;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #f1f1f1;
}
