<div class="card position-relative">
    <img src="assets/taskTopPlaceholder.jpg" class="card-img-top" alt="taskTopPlaceholder">
    <button class="btn btn-outline-danger circular-btn position-absolute top-0 end-0 m-2" (click)="openDeleteModal()">
      <i class="bi bi-trash"></i>
    </button>
      <button class="btn btn-outline-secondary circular-btn position-absolute top-0 start-0 m-2" (click)="openUpdateModal()">
      <i class="bi bi-pencil-square"></i>
    </button>
      <div class="card-body">
    <h5 class="card-title">{{ board.title }}</h5>
    <p class="card-text">Board ID: {{ board.id }}</p>
  </div>
</div>
<app-update-board  #updateBoardModal (confirm)="onUpdateConfirm($event)"></app-update-board>
<app-delete-board  #deleteBoardModal (confirm)="onDeleteConfirm($event)"></app-delete-board>